<template>
    <div class="Polaris-Page__Content">
        <div>
            <div class="d-flex align-center justify-content-between w-100">
                <div class="d-flex align-center">
                    <div class="Polaris-Page__Title Polaris-TextContainer--spacingTight">
                        <h1 class="Polaris-Heading">Metafields Configuration</h1>
                        <p>The easiest way to manage store custom data.</p>
                    </div>
                </div>
                <div class="d-flex align-center">
                    <div class="">
                        <a class="Polaris-Button" :href=pricing_path style="padding: 13px;"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Plan & Pricing</span></span></a>
                    </div>
                    <div class="">
                        <a type="button" style="padding: 13px;" class="Polaris-Button Polaris-Button--primary ml-16" :href=installation_path><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Installation Guide </span></span></a>
                    </div>
                </div>
            </div>
            <div class="Polaris-Page__Content">

                <div class="custom-box">
            <!-- section 1-->
                    <div class="custom-row" style="margin-bottom: 15px;">
                        <div class="area-settings-nav__title-cmn-parent">
                            <p class="area-settings-nav__title-cmn">
                                Global Metafields Configurations
                            </p>
                        </div>
                        <div class="" style="width: 100%;" v-for="item in section1">
                            <router-link :to="{name :item.name , params:{ resourceType: item.resourceType } }" tag="a" class="area-settings-nav__action">
                                <div class="area-settings-nav__media">
                                    <span class="menu-icons menu-settings" :style="`background-image: url(`+item.background_image+`)`"></span>
                                </div>
                                <div>
                                    <p class="area-settings-nav__title">
                                        {{ item.title }}
                                    </p>
                                    <p class="area-settings-nav__description">
                                        {{ item.description}}
                                    </p>
                                </div>
                            </router-link>
                        </div>
                    </div>
                <!-- section 2-->
                    <div class="custom-row" style="margin-bottom: 15px;">
                        <div class="area-settings-nav__title-cmn-parent">
                            <p class="area-settings-nav__title-cmn">
                                Metafields Products
                            </p>
                        </div>
                        <div class="area-settings-nav__item" v-for="item in items">
                                <a class="area-settings-nav__action" v-if="item.name === 'installation-guide'" :href=installation_path>
                                    <div class="area-settings-nav__media">
                                        <span class="menu-icons menu-settings" :style="`background-image: url(`+item.background_image+`)`"></span>
                                    </div>
                                    <div>
                                        <p class="area-settings-nav__title">
                                            {{ item.title }} {{item.installation}}
                                        </p>
                                        <p class="area-settings-nav__description">
                                            {{ item.description}}
                                        </p>
                                    </div>
                                </a>
                            <!--                            <a class="area-settings-nav__action" v-else-if="item.name === 'pricing'" :href=pricing_path>-->
                            <!--                                <div class="area-settings-nav__media">-->
                            <!--                                    <span class="menu-icons menu-settings" :style="`background-image: url(`+item.background_image+`)`"></span>-->
                            <!--                                </div>-->
                            <!--                                <div>-->
                            <!--                                    <p class="area-settings-nav__title">-->
                            <!--                                        {{ item.title }} {{item.installation}}-->
                            <!--                                    </p>-->
                            <!--                                    <p class="area-settings-nav__description">-->
                            <!--                                        {{ item.description}}-->
                            <!--                                    </p>-->
                            <!--                                </div>-->
                            <!--                            </a>-->
                            <router-link :to="{name :item.name , params:{ resourceType: item.resourceType } }" tag="a" class="area-settings-nav__action">
                                <div class="area-settings-nav__media">
                                    <span class="menu-icons menu-settings" :style="`background-image: url(`+item.background_image+`)`"></span>
                                </div>
                                <div>
                                    <p class="area-settings-nav__title">
                                        {{ item.title }}
                                    </p>
                                    <p class="area-settings-nav__description">
                                        {{ item.description}}
                                    </p>
                                </div>
                            </router-link>
                        </div>
                    </div>
                <!-- section 3-->
                    <div class="custom-row" style="margin-bottom: 15px;">
                        <div class="area-settings-nav__title-cmn-parent">
                            <p class="area-settings-nav__title-cmn">
                                Metafields Settings
                            </p>
                        </div>
                        <div class="area-settings-nav__item" v-for="item in section3">
                            <router-link :to="{name :item.name , params:{ resourceType: item.resourceType } }" tag="a" class="area-settings-nav__action">
                                <div class="area-settings-nav__media">
                                    <span class="menu-icons menu-settings" :style="`background-image: url(`+item.background_image+`)`"></span>
                                </div>
                                <div>
                                    <p class="area-settings-nav__title">
                                        {{ item.title }}
                                    </p>
                                    <p class="area-settings-nav__description">
                                        {{ item.description}}
                                    </p>
                                </div>
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
            <page-footer></page-footer>
        </div>
    </div>
</template>
<script>
    import PageFooter from "../shopify/PageFooter";
    export default {
        components:{
            PageFooter,
        },
        data(){
            return{
                items: [],
                section1: [],
                section3: [],
                header_btn: [],
                installation_path: '',
                pricing_path: '',
                types : [
                    {name: 'String', value: 'string'},
                    {name: 'Number', value: 'number'},
                    {name: 'Email', value: 'email'},
                    {name: 'Rich Text Box', value: 'rich_text_box'},
                    {name: 'File', value: 'file'},
                    {name: 'Image', value: 'image'},
                    {name: 'Multiple Image', value: 'multiple_image'},
                    {name: 'URL', value: 'url'},
                    {name: 'Phone', value: 'phone'},
                    {name: 'Color Picker', value: 'color_picker'},
                    {name: 'Date Picker', value: 'date_picker'},
                    {name: 'Json', value: 'json'},
                ],
                curr_page: '',
                is_contentload: true,
            }
        },
        created() {
            this.$router.options.routes.forEach(route => {
                if(route.meta.ignoreInMenu === 0){
                    let d = {
                        title: route.meta.title,
                        description: route.meta.description,
                        name: route.name,
                        path: route.path,
                        dafaultActiveClass: route.meta.dafaultActiveClass,
                        resourceType: route.meta.resourceType,
                        background_image:route.meta.background_image,
                    };
                    if( route.name === 'configurations' ){
                        this.section1.push(d);
                    }else if(route.name === 'settings' || route.name === 'exportcsvs' || route.name === 'activity-logs'){
                        this.section3.push(d);
                    }else if( route.name === 'pricing' || route.name === 'installation-guide' ){
                        this.header_btn.push(d);
                    }else{
                        this.items.push(d);
                    }
                }
            });
            console.log(this.items);
            this.installation_path = window.shopify_app_bridge.localOrigin + '/installation-instruction';
            this.pricing_path = window.shopify_app_bridge.localOrigin + '/plan-pricing';

            document.body.classList.add('template-dashboard');
        },
    };
</script>
